.modal {
    background-color: #9c9c9c64;
}

.edit-form {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    background: var(--grey-primary-700);
    padding: 1rem;
    border-radius: 12px;
}

.edit-form input {
    padding: 0.75rem;
    color: var(--yellow-primary-500);
    font-size: 1.1rem;
    border: none;
    border-radius: 12px
}

.edit-form label {
    font-size: 12px;
    color: var(--yellow-primary-200);
}

.edit-task__button {
    background-color: var(--yellow-primary-200);
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.edit-task__button:hover {
    background: var(--grey-primary-500);
    color: var(--yellow-primary-200);
    cursor: pointer
}