.footer {
    background-color: var(--grey-primary-500);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    padding: 0.5rem;
}

.footerText {
    font-size: 1.15rem;
    text-align: center;
    color: var(--yellow-primary-500)
}